@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rock+Salt&display=swap");

*{
  box-sizing: border-box;
}

body{
	background-color: #132743;
	color: #f0a500;
}
.App{
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

.clock{
  text-align:center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  font-size:1.5rem;
}

h1{
	grid-column-start: 1;
	grid-column-end: 3;
	font-family: 'Rock Salt', cursive;
	font-size:1.5rem;
	text-align: right;
	margin:25px;
}

.icon{
	font-size: 2rem;
}
.setup{
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
}

#session-label, #break-label{
	grid-column-start: 1;
	grid-column-end: 4;
	padding: 15px;
}

#timer{
  grid-column-start: 1;
  grid-column-end: 3;
  margin:3rem;
}

#timer-label{
	font-weight:300;
}

#time-left{
	font-size:8rem;
}

#start_stop{
	text-align: right;
	margin-right: 10px;
	
}

#reset{
	text-align: left;
	margin-left: 10px;
	
}